{% extends 'base.html' %}
{% block title %}
  {% if post %}
    Редактировать запись
  {% else %}
    Добавить запись
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">   
          {% if post %}
            Редактировать пост
          {% else %}
            Новый пост
          {% endif %}                       
        </div>
        <div class="card-body">    
          {% include 'includes/errors_check.html' %}
          <form method="post"
            enctype="multipart/form-data"
            action="{% if post %}{% url 'posts:post_edit' post.id %}
            {% else %}{% url 'posts:post_create'%}{% endif %}">
          {% csrf_token %}
              {% for field in form %} 
                {% include 'includes/forms.html' %}
              {% endfor %}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                {% if post %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
